/* Globals settings*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

p {
  margin: 0.8rem 1.5rem 0;
}

.text-decor {
  text-decoration: none;
}

/*Navigation*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: #3e1e46;
  box-shadow: 5px 10px 8px #888888;
}

.brand {
  color: white;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.categories li {
  display: inline;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
}

ul.categories {
  padding-top: 1.7rem;
}

img.cart-shoping {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
}

span.item-counter {
  position: relative;
  bottom: 2rem;
  right: 0.4rem;
  width: 2rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  background-color: red;
  text-align: center;
}

.cart-shoping-area {
  margin-right: 1.2rem;
}

/* Items Section*/

.items-container {
  margin-top: 1rem;
  text-align: center;
}

/*Components
==========================================*/

/*Button count and subtrac*/

.item-count {
  width: 70%;
  height: 1.7rem;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 0.8rem 0 0 1.5rem;
}

.count {
  color: #643070;
  width: 30%;
}

span.count:hover {
  user-select: none;
  cursor: pointer;
  height: 1.55rem;
  background-color: #3e1e46;
  color: white;
  border-radius: 3px;
}

.display-items {
  width: 40%;
  user-select: none;
}

.buy-button {
  background-color: #643070;
  color: white;
}

p.buy-button:hover {
  user-select: none;
  cursor: pointer;
  border: 2px solid #643070;
  color: #3e1e46;
  background-color: white;
  font-size: bold;
}

p.delete-button {
  border: 3px solid red;
  color: red;
  font-size: bold;
  height: 2rem;
  border-radius: 3px;
  width: 30%;
}

p.delete-button:hover {
  cursor: pointer;
  user-select: none;
  background-color: red;
  color: white;
}

.regular-button {
  background-color: #643070;
  color: white;
  height: 2rem;
}

/*Item cards*/

.item-section {
  margin: 1rem 0 0 4rem;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  height: 60vh;
  grid-gap: 30px 2%;
}

.item-card {
  width: 100%;
  border: 1px solid gray;
  background-color: #edd9f1;
  box-shadow: 5px 10px 8px #888888;
}

img.img-item {
  width: 80%;
  height: 30vh;
  margin: 1rem 0 1rem 0;
}

.card-title {
  height: 2.5rem;
  background-color: #643070;
  color: white;
}

/* Pages
==================================*/

/* Detail item page*/

.item-detail {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-information {
  display: flex;
}

.image-description {
  width: 250px;
  height: 300px;
  padding-top: 30px;
}

.item-description {
  width: 450px;
  border: 1px solid #643070;
  box-shadow: 5px 10px 8px #888888;
}

.item-selection {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.selecting-item {
  width: 50%;
}

.price-section {
  width: 50%;
}

/* Cart page */

.cart-card {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  width: 60%;
  border: 1px solid #643070;
}

.loading-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-info {
  width: 100%;
}

.main-cart {
  display: flex;
  flex-direction: row;
}
